
.label{


  -fx-font-size: 30;
 /* -fx-font-family: "Comic sans ms";*/
  -fx-text-fill: crimson;
  -fx-alignment: center;
  -fx-font-weight: bold;
}

.taskLabel{
  -fx-font-size: 18;
  -fx-text-fill : black;


}